html {
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

hr {
  border: 1px solid transparent;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

label {
  display: block;
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 18px;
  margin-top: 3.6em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0.5em 1em;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

button:hover {
  cursor: pointer;
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

/* ---- NavBar ---- */

.logo {
  height: 6em;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  filter: grayscale();
}

.tagline {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 0.4em;
  position: relative;
  top: 7.2em;
  color: #757575;
  margin-left: 1.1em;
}

.cartAndBadge {
  width: max-content;
}

.totalBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #757575;
  color: white;
  padding: 0.2em;
  padding-right: 0.3em;
  padding-left: 0.3em;
  border: 1px solid #757575;
  border-radius: 5px;
}

.totalBadge .material-icons {
  margin-left: 0.2em;
}

.totalBadge.hidden {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

/* ---- AuthForm ---- */

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  font-size: 1.6em;
  padding: 2em 0;
}

.authForm-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.authForm-container * {
  border-radius: 5px;
}

.authForm-container div {
  width: 100%;
  margin-top: 0;
}

.authForm-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  padding: 1em;
  background: linear-gradient(#3981ef, #7dacf1);
  color: #fff;
  width: 380px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.authForm-container form div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.authForm-container label {
  font-weight: normal;
  letter-spacing: 0.8px;
  align-self: flex-start;
  margin-left: 0.8em;
  margin-bottom: 0.3em;
}

.authForm-container label:nth-child(1) {
  margin-top: 1em;
}

.authForm-container input[type='text'],
.authForm-container input[name='password'],
.authForm-container button {
  height: 2.6em;
  width: 90%;
  padding: 0 1em;
  font-size: 0.6em;
  letter-spacing: 0.8px;
  text-align: center;
}

.authForm-container button {
  width: 90%;
  font-size: 0.8em;
  margin-top: 1em;
}

.authForm-container a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 380px;
  height: 3em;
  border: 1px solid var(--blueAccent);
  background-color: #fff;
  margin-top: 0.6em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.authForm-container a img {
  height: 2.2em;
  width: auto;
}

.authForm-container span {
  margin-right: 1em;
}

.warning {
  font-size: 0.6em;
}

/* ---- AllProducts ---- */

.productsAndCart {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.allProductContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 900px;
}

.cartContainer {
  min-width: 300px;
  margin: 0.3em;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

.productCardOutline {
  border: 1px solid transparent;
  width: 280px;
  border-radius: 5px;
  padding: 0.5em;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  margin: 0.3em;
}

.productCardOutline:hover {
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

/* ---- ProductCard ---- */

.productContainer {
  height: auto;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  margin: 0.3em;
}

.productContainer * {
  margin: 0.3em 0;
}

.productContainer img {
  height: 200px;
  width: auto;
}

.quant-view-prod-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.quant-view-prod-container a:hover {
  color: blue;
}

.productContainer .nameAndPrice {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.productName {
  font-weight: bold;
  max-width: 120px;
}

.quantityAndBtns {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-evenly;
}

.quantityAndBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 0.2em;
}

.cartBtns .clearCart {
  background-color: white;
}

.viewProductAndArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewProductAndArrow .material-icons {
  margin-top: 0.1em;
}

/* ---- SingleProduct ---- */

.sp-view-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1em;
  min-width: 1200px;
}

.backToAllProducts {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5em;
}

.backToAllProducts:hover {
  color: blue;
}

.singleProductContainer {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.singleProductDescription {
  line-height: 1.4em;
  width: 320px;
}

.imgAndDescription {
  display: flex;
  padding: 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  box-shadow: 0.8px 0.9px 2px rgb(199, 199, 199);
  width: 660px;
  height: 374px;
}

.imgAndDescription img {
  height: 100%;
  width: auto;
  max-height: 240px;
  align-self: center;
}

.descriptionSidePanel {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0.5em;
  margin-left: 1em;
}

.descriptionSidePanel * {
  margin: 0.5em 0;
}

.descriptionSidePanel .productName {
  font-weight: bold;
}

.sp-img-inventory-price {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inventoryAndPrice {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.quantityValueAndBtns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartContainer {
  height: 372px;
}

.cartTitle {
  margin: 0.3em;
}

/* ---- Cart ---- */

.cartAndTotals {
  position: sticky;
  top: 2em;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cartBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0.3em;
  overflow-y: auto;
}

.cartBtns {
  display: flex;
  position: relative;
  bottom: -6.6em;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.totalsContainer {
  margin: 1em;
  margin-bottom: 0;
}

.totalsLineItem {
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---- CartProductCard ---- */

.cartProductContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em 0;
}

.cartProductContainer img {
  height: 60px;
  width: auto;
  margin-right: 0.5em;
}

.removeItemFromCart {
  position: relative;
  left: -0.5em;
  top: -2.2em;
  width: 0px;
  height: auto;
  color: #757575;
  margin-bottom: 0.3em;
}

.removeItemFromCart:hover {
  cursor: pointer;
  color: black;
}

.cart-pc-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 60px;
  width: 200px;
}

.cart-pc-inner-container .nameAndPrice {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.cart-pc-inner-container .nameAndPrice .productPrice {
  color: grey;
}

.cart-pc-inner-container .quantityAndBtns {
  margin: 0;
  padding: 0;
  max-width: 100px;
  min-width: 100px;
}

.quantityAndBtns button:hover,
.quantityValueAndBtns button:hover,
.cartBtns button:hover,
.sp-quantity-btn:hover {
  background-color: #757575;
  color: white;
}

.sp-quantity-btn {
}

/* ---- Profile ---- */

.user {
  display: flex;
}

.profileContainer {
  flex-grow: 100;
}

.ordersLabel {
  margin-top: 1em;
}

.singleUserContainer {
}

.profileLabel {
  margin-top: 1em;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

/* --- All Orders --- */

.userOrdersContainer {
  display: flex;
  overflow-x: auto;
  align-items: end;
  min-height: 325px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  border: 1px solid transparent;
}

/* ---- Order Card ---- */

.orderContainer {
  border: 1px solid transparent;
  width: 280px;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  margin: 0.3em;
  position: relative;
  background-color: #fff;
}

.orderContainer::before,
.orderContainer::after {
  /* Add shadow to distinguish sheets */
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.orderContainer::before,
.orderContainer::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  border: 1px solid transparent;
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
}

/* Second sheet */
.orderContainer::before {
  left: 5px;
  top: -5px;
  z-index: -1;
}

/* Third sheet */
.orderContainer::after {
  left: 10px;
  top: -10px;
  z-index: -2;
}

.orderContainer * {
  margin: 0.3em 0;
}

.orderContainer img {
  height: 200px;
  width: 100%;
}

.orderContainer:hover {
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

.orderName {
  font-weight: bold;
}

/* ---- All Users ---- */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

/* Checkout */

.checkout-view-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.productsAndCk {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

/* ---- ShippingData ---- */

.shippingData {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 600px;
}

.shippingData * {
  margin-top: 0;
}

.shippingData textarea {
  width: 300px;
  height: 100px;
  resize: vertical;
  padding: 0.5em;
  border: 2px solid black;
}

.formField * {
  width: 300px;
}

.formField input[type='text'] {
  height: 2em;
  font-size: 18px;
  padding: 0 1em;
}

/* ---- Gandalf 403 ---- */

.gandalfContainer {
  background-color: transparent;
  color: #000;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 1.3rem;
  transition: floating 1s infinite;
}

@keyframes floating {
  to {
    top: 1.5rem;
  }
}
.gandalfContainer h1 {
  font-size: 2.5rem;
}
.message {
  max-width: 700px;
  margin: 5rem auto 0 auto;
  text-align: center;
}
.gandalf {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto;
  top: 1rem;
  animation: floating 1s infinite alternate ease-in-out;
}
.gandalf div {
  position: absolute;
}
.gandalf::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: #1a2130;
  border-radius: 50%;
}
.gandalf .fireball {
  bottom: -10px;
  left: 50px;
  width: 300px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(#efac41, #de8531, #6c1305, black);
  border: 5px solid #000;
}
.gandalf .skirt {
  bottom: 50px;
  left: 100px;
  border-bottom: 230px solid #ededed;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  filter: drop-shadow(0 0 6px #d4d4d4);
}
.gandalf .skirt::before {
  content: '';
  position: absolute;
  background-color: #ededed;
  width: 100px;
  height: 21px;
  top: 230px;
  left: 0px;
  border-bottom-right-radius: 180%;
  border-bottom-left-radius: 100%;
}
.gandalf .skirt::after {
  content: '';
  position: absolute;
  background-color: #ededed;
  width: 100px;
  height: 28px;
  top: 230px;
  left: -100px;
  border-bottom-right-radius: 80%;
  border-bottom-left-radius: 180%;
}
.gandalf .sleeves::before,
.gandalf .sleeves::after {
  content: '';
  position: absolute;
  border-bottom: 70px solid #ededed;
  filter: drop-shadow(0 0 6px #d4d4d4);
}
.gandalf .sleeves::before {
  top: 130px;
  left: 191px;
  border-left: 100px solid transparent;
  border-right: 40px solid transparent;
  transform: rotate(-34deg);
}
.gandalf .sleeves::after {
  top: 127px;
  left: 70px;
  border-left: 40px solid transparent;
  border-right: 100px solid transparent;
  transform: rotate(41deg);
}
.gandalf .shoulders {
  background-color: #ededed;
  border-radius: 50%;
  width: 100px;
  height: 130px;
  left: 150px;
  top: 120px;
}
.gandalf .shoulders .hand {
  width: 33px;
  height: 26px;
  border-radius: 50%;
  background-color: #ffd8ad;
  top: -6px;
}
.gandalf .shoulders .left {
  left: -70px;
  transform: rotate(-20deg);
}
.gandalf .shoulders .left::after {
  content: '';
  position: absolute;
  background-color: #e6e6e6;
  width: 126px;
  height: 8px;
  border-radius: 4px;
  transform: rotate(-105deg);
  transform-origin: bottom;
  top: -48px;
  left: -56px;
}
.gandalf .shoulders .right {
  right: -70px;
  transform: rotate(20deg);
}
.gandalf .shoulders .right::after {
  content: '';
  position: absolute;
  background-color: #bf5507;
  width: 250px;
  height: 5px;
  border-radius: 2.5px;
  transform: rotate(-78deg);
  transform-origin: left;
  bottom: -100px;
  left: 0;
}
.gandalf .head {
  width: 80px;
  height: 90px;
  top: 80px;
  left: 160px;
  background-color: #ffd8ad;
  border-radius: 50%;
}
.gandalf .head::before,
.gandalf .head::after {
  content: '';
  position: absolute;
  background-color: #000;
}
.gandalf .head::before {
  width: 13px;
  height: 5px;
  border-radius: 3px;
  top: 42px;
  left: 22px;
  transform: rotate(19deg);
}
.gandalf .head::after {
  width: 13px;
  height: 5px;
  border-radius: 3px;
  top: 42px;
  right: 22px;
  transform: rotate(-19deg);
}
.gandalf .head .hair {
  width: 70px;
  height: 30px;
  background-color: #c2beb5;
  border-radius: 50%;
  top: 0px;
  left: 5px;
}
.gandalf .head .hair::before,
.gandalf .head .hair::after {
  content: '';
  position: absolute;
  background-color: #c2beb5;
  filter: drop-shadow(2px 5px 0 #aba599);
}
.gandalf .head .hair::before {
  top: 13px;
  left: -16px;
  width: 25px;
  height: 100px;
  border-top-left-radius: 34px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 20px;
  transform: rotate(8deg);
}
.gandalf .head .hair::after {
  top: 13px;
  right: -16px;
  width: 25px;
  height: 100px;
  border-top-left-radius: 15px;
  border-top-right-radius: 34px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 100px;
  transform: rotate(-10deg);
}
.gandalf .head .beard {
  top: 64px;
  left: 5px;
  border-top: 80px solid #c2beb5;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-radius: 30px;
  filter: drop-shadow(2px 5px 0 #aba599);
}
.gandalf .head .beard::before {
  content: '';
  position: absolute;
  background-color: pink;
  width: 20px;
  height: 5px;
  border-radius: 40%;
  top: -70px;
  left: -9px;
}

/* .container403 {
  animation-fill-mode: opacity 1s forwards;
} */
