html {
  touch-action: manipulation;
}

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.2em;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

hr {
  border: 1px solid transparent;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

label {
  display: block;
}

.nav-link-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 18px;
  margin-top: 3.6em;
}

form div {
  margin: 1em;
  display: inline-block;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  padding: 0.5em 1em;
  font-size: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

button:hover {
  cursor: pointer;
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

/* ---- NavBar ---- */

.logo {
  height: 6em;
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em;
  filter: grayscale();
}

.cartAndBadge {
  width: max-content;
}

.totalBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #757575;
  color: white;
  padding: 0.2em;
  padding-right: 0.3em;
  border: 1px solid #757575;
  border-radius: 5px;
  margin-left: 0.1em;
}

.totalBadge .material-icons {
  margin-left: 0.2em;
}

.totalBadge.hidden {
  display: none;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

/* ---- AuthForm ---- */

.outer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: auto;
  font-size: 1.6em;
  padding: 2em 0;
}

.authForm-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  height: min-content;
}

.authForm-container * {
  border-radius: 5px;
}

.authForm-container div {
  width: 100%;
  margin-top: 0;
}

.authForm-container form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #fff;
  padding: 1em;
  background: linear-gradient(#3981ef, #7dacf1);
  color: #fff;
  width: 380px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.authForm-container form div {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.authForm-container label {
  font-weight: normal;
  letter-spacing: 0.8px;
  align-self: flex-start;
  margin-left: 0.8em;
  margin-bottom: 0.3em;
}

.authForm-container label:nth-child(1) {
  margin-top: 1em;
}

.authForm-container input[type='text'],
.authForm-container input[name='password'],
.authForm-container button {
  height: 2.6em;
  width: 90%;
  padding: 0 1em;
  font-size: 0.6em;
  letter-spacing: 0.8px;
  text-align: center;
}

.authForm-container button {
  width: 90%;
  font-size: 0.8em;
  margin-top: 1em;
}

.authForm-container a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 380px;
  height: 3em;
  border: 1px solid var(--blueAccent);
  background-color: #fff;
  margin-top: 0.6em;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.authForm-container a img {
  height: 2.2em;
  width: auto;
}

.authForm-container span {
  margin-right: 1em;
}

.warning {
  font-size: 0.6em;
}

/* ---- AllProducts ---- */

.productsAndCart {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.allProductContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding: 0;
  margin: 0;
  max-width: 900px;
}

.cartContainer {
  min-width: 300px;
  margin: 0.3em;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
}

.productCardOutline {
  border: 1px solid transparent;
  width: 280px;
  border-radius: 5px;
  padding: 0.5em;
  transition: box-shadow 0.1s ease-in-out;
  box-shadow: 0.8px 0.9px 3px rgb(187, 187, 187);
  margin: 0.3em;
}

.productCardOutline:hover {
  box-shadow: 0.8px 0.9px 3px rgb(118, 203, 231);
}

/* ---- ProductCard ---- */

.productContainer {
  height: auto;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 0.5em 0;
  margin: 0.3em;
}

.productContainer * {
  margin: 0.3em 0;
}

.productContainer img {
  height: 200px;
  width: auto;
}

.quant-view-prod-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.quant-view-prod-container a:hover {
  color: blue;
}

.productContainer .nameAndPrice {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

.productName {
  font-weight: bold;
  max-width: 120px;
}

.quantityAndBtns {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-evenly;
}

.quantityAndBtns button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  padding: 0.2em;
}

.viewProductAndArrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewProductAndArrow .material-icons {
  margin-top: 0.1em;
}

/* ---- SingleProduct ---- */

.sp-view-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.backToAllProducts {
  margin-bottom: 0.5em;
}

.backToAllProducts:hover {
  color: blue;
}

.singleProductContainer {
  display: flex;
  flex-direction: column;
  min-width: 600px;
}

.buyupContainer {
  min-height: 3em;
}

.imgAndDescription {
  display: flex;
}

.imgAndDescription img {
  height: 100%;
  width: auto;
  max-height: 240px;
  align-self: center;
}

.descriptionSidePanel {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  padding: 0.5em;
}

.descriptionSidePanel * {
  margin: 0.5em 0;
}

.productName {
  font-weight: bold;
}

.quantityContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin: 0 auto;
}

.quantityValueAndBtns {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cartContainer {
  height: 372px;
}

.cartTitle {
  margin: 0.3em;
}

/* ---- Cart ---- */

.cartAndTotals {
  position: sticky;
  top: 2em;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.cartBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  padding: 0.3em;
  overflow-y: auto;
}

.cartBtns {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.totalsContainer {
  margin: 1em;
  margin-bottom: 0;
}

.totalsLineItem {
  margin-bottom: 0.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---- CartProductCard ---- */

.cartProductContainer {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em;
  padding: 0.5em 0;
}

.cartProductContainer img {
  height: 60px;
  width: auto;
  margin-right: 0.5em;
}

.cart-pc-inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: flex-end;
  height: 60px;
  width: 200px;
}

.cart-pc-inner-container .nameAndPrice {
  display: flex;
  flex-direction: column;
  height: min-content;
}

.cart-pc-inner-container .nameAndPrice .productPrice {
  color: grey;
}

.cart-pc-inner-container .quantityAndBtns {
  margin: 0;
  padding: 0;
  max-width: 100px;
  min-width: 100px;
}

.quantityAndBtns button:hover,
.cartBtns button:hover {
  background-color: #757575;
  color: white;
}

/* ---- Profile ---- */

.profileContainer {
  flex-grow: 100;
}

.ordersLabel {
  margin-top: 1em;
}

.singleUserContainer {
}

.profileLabel {
  margin-top: 1em;
}

.userProfileContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  border: 1px solid black;
}

/* --- All Orders --- */

.userOrdersContainer {
  display: flex;
  overflow-x: auto;
  align-items: end;
  min-height: 325px;
  border: 1px solid black;
}

/* ---- Order Card ---- */

.orderContainer {
  height: auto;
  min-height: 300px;
  width: 240px;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 0.5em;
  position: relative;
  background-color: #fff;
}

.orderContainer,
.orderContainer::before,
.orderContainer::after {
  /* Add shadow to distinguish sheets */
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.15);
}

.orderContainer::before,
.orderContainer::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #eee;
}

/* Second sheet */
.orderContainer::before {
  left: 7px;
  top: -5px;
  z-index: -1;
  border: 1px solid black;
}

/* Third sheet */
.orderContainer::after {
  left: 12px;
  top: -10px;
  z-index: -2;
  border: 1px solid black;
}

.orderContainer * {
  margin: 0.3em 0;
}

.orderContainer img {
  height: 200px;
  width: 100%;
}

.orderName {
  font-weight: bold;
}

/* ---- Ads ---- */

.userAndAds {
  display: flex;
}

.headerAdsContainer {
  min-height: 70px;
  border: 1px solid black;
}

.advertisementSidePanel {
  width: 200px;
  border: 1px solid black;
}

/* ---- All Users ---- */

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

/* Checkout */

.checkout-view-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.productsAndCk {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin: 0 auto;
}

/* ---- ShippingData ---- */

.shippingData {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 600px;
}

.shippingData * {
  margin-top: 0;
}

.shippingData textarea {
  width: 300px;
  height: 100px;
  resize: vertical;
  padding: 0.5em;
  border: 2px solid black;
}

.formField * {
  width: 300px;
}

.formField input[type='text'] {
  height: 2em;
  font-size: 18px;
  padding: 0 1em;
}
